.be-checkbox input[type=checkbox], .be-checkbox input[type=radio],
	.be-radio input[type=checkbox], .be-radio input[type=radio] {
	margin: 0;
	display: none;
	width: 22px;
}

.be-checkbox input[type=checkbox]+label:before, .be-radio input[type=checkbox]+label:before
	{
	content: "";
	width: 14px;
	height: 14px;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: inline-block;
	margin-right: 6px;
	font-family: 'Material Icons';
	font-weight: 400;
	line-height: 17px;
	font-size: 13px;
	vertical-align: bottom;
	text-align: center;
	background-color: #fff;
	cursor: pointer;
	vertical-align: middle;
}

.be-checkbox input[type=checkbox]:checked+label:before, .be-checkbox input[type=radio]:checked+label:before,
	.be-radio input[type=checkbox]:checked+label:before, .be-radio input[type=radio]:checked+label:before
	{
	content: "\2714";
	color: #fff;
	border-color: #4285f4;
	background-color: #4285f4;
	background: #4285f4;
}

.eb-btn-success {
	color: #fff;
	background-color: #34a853;
	border-color: #34a853;
}

.eb-btn-md {
	box-shadow: none;
	border: 1px solid transparent;
	padding: 0 17px;
	font-size: 12px;
	line-height: 32px;
	border-radius: 4px;
	
	cursor: pointer;
}

/* The Modal (background) */
.engagebay-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 0px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	z-index: 99;
}

/* Modal Content */
.engagebay-modal .modal-content {
	background-color: #fefefe;
	margin: auto;
	border: 1px solid #888;
	width: 70%;
	margin-top: 100px;
	margin-bottom: 100px;
}

.engagebay-modal .modal-header {
	padding: 20px;
	border-bottom: 1px solid #f1f1f1;
}

.engagebay-modal .modal-body {
	padding: 20px;
}

/* The Close Button */
.engagebay-modal .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.email-template-preview {
	position: relative;
	display: inline-block;
	width: 150px;
	overflow: hidden;
	height: 200px;
	margin: 5px 20px;
}

.email-template-preview img {
	width: 150px;
	height: auto;
}

.email-template-preview .et-preview-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding-top: 100px;
	padding-right: 5px;
	padding-top: 80px;
}

.email-template-preview:hover .et-preview-overlay {
	display: block;
}

.engagebay-subject-toolbar{
	background: #fff;
}

.engagebay-subject-toolbar.live {
	border-top: 1px solid #e3e3e3;
}

.engagebay-subject-toolbar.office, .engagebay-subject-toolbar.office365
	{
	border-bottom: 1px solid #e3e3e3;
}
.dropdown-menu>li>a {
    font-weight: 400;
    color: #504e4e;
    padding: 8px 20px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color: #f5f5f5;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
	 background-color: #f5f5f5 !important;
	  color: #504e4e;
}
.hide{
	display: none;
}