body {
	font-family: Roboto, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.42857;
	color: rgb(64, 64, 64);
	width: 500px;
	min-height: 460px;
	max-height: 500px;
	margin: auto;
	padding: 0;
	overflow: auto;
	background-color: #fff;
	background-image: none;
	
}

.gravatar-intial-img img{
	width:35px;
	height:35px;
	border-radius: 20px
}

.form-control {
    height: 40px;
    font-size: 13px;
    border-radius: 4px;
    border-top-color: transparant !important;
    border: 1px solid #eae9e9;
}

.form-control:focus {
    box-shadow: 0px 0px 13px -3px rgba(110, 66, 151, 1) !important;
    border-color: transparent;
}

.btn-default, .btn-default.focus, .btn-default:focus {
    color: #f2603e;
    background-color: #fff;
    border-color: #f2603e;
}

.btn-default.hover, .btn-default:hover {
    box-shadow: none;
    color: #f2603e;
    background-color: #feedea;
    border-color: #f2603e;
}

.btn.btn-google{
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

/* .text-danger { */
/* 	color: #ea4335; */
/* } */

/* .h4, .h5, .h6, h4, h5, h6 { */
/* 	margin-top: 15px; */
/* 	margin-bottom: 10px; */
/* } */

/* .h4, h4 { */
/* 	font-size: 17px; */
/* } */

/* .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { */
/* 	font-family: inherit; */
/* 	font-weight: 300; */
/* 	line-height: 1.1; */
/* 	color: inherit; */
/* } */

/* .btn { */
/* 	box-shadow: none; */
/* 	border: 1px solid transparent; */
/* 	padding: 0 17px; */
/* 	font-size: 12px; */
/* 	line-height: 32px; */
/* 	border-radius: 4px; */
/* 	text-transform: uppercase; */
/* } */

/* .btn { */
/* 	display: inline-block; */
/* 	margin-bottom: 0; */
/* 	font-weight: 500; */
/* 	text-align: center; */
/* 	vertical-align: middle; */
/* 	-ms-touch-action: manipulation; */
/* 	touch-action: manipulation; */
/* 	cursor: pointer; */
/* 	background-image: none; */
/* 	white-space: nowrap; */
/* 	-webkit-user-select: none; */
/* 	-moz-user-select: none; */
/* 	-ms-user-select: none; */
/* 	user-select: none; */
/* } */

/* .btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, */
/* 	.btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, */
/* 	.open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, */
/* 	.open>.dropdown-toggle.btn-warning:hover { */
/* 	color: #fff; */
/* 	background-color: #fd7656; */
/* 	border-color: #fd7656; */
/* 	box-shadow: none; */
/* } */

/* .btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning */
/* 	{ */
/* 	color: #fff; */
/* 	box-shadow: none; */
/* 	background-color: #fd7656; */
/* 	border-color: #fd7656; */
/* 	background-image: none; */
/* } */

/* .btn-warning.hover, .btn-warning:hover { */
/* 	box-shadow: none; */
/* 	background-color: #fd7656; */
/* 	border-color: #fd7656; */
/* } */

/* .btn-warning.active, .btn-warning:active, .btn-warning:hover, .open>.dropdown-toggle.btn-warning */
/* 	{ */
/* 	color: #fff; */
/* 	background-color: #f2603e; */
/* 	border-color: #f2603e; */
/* } */

/* .btn.active, .btn:active { */
/* 	box-shadow: none; */
/* } */

/* .btn-warning { */
/* 	color: #fff; */
/* 	background-color: #f2603e; */
/* 	border-color: #f2603e; */
/* } */

/* .btn-primary { */
/* 	color: #fff; */
/* 	background-color: #6a3b8d; */
/* 	border-color: #6a3b8d; */
/* } */

/* .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, */
/* 	.btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover */
/* 	{ */
/* 	color: #fff; */
/* 	background-color: #884fb3; */
/* 	box-shadow: none; */
/* } */

/* .btn-default { */
/* 	color: #6a3b8d; */
/* 	background-color: #f4f5f8; */
/* 	border-color: #6a3b8d; */
/* } */

/* .btn-default.active, .btn-default.active.focus, .btn-default.active:focus, */
/* 	.btn-default.active:hover, .btn-default:active, .btn-default:active.focus, */
/* 	.btn-default:active:focus, .btn-default:active:hover { */
/* 	color: #4f5f5f; */
/* 	background-color: #e7deef; */
/* 	border-color: #6a3b8d; */
/* 	box-shadow: none; */
/* } */

/* button.close, input.form-control, textarea.form-control { */
/* 	-webkit-appearance: none; */
/* } */

/* form { */
/* 	display: block; */
/* 	margin-top: 0em; */
/* } */

/* .form-control { */
/* 	height: 40px; */
/* 	font-size: 13px; */
/* 	border-radius: 4px; */
/* } */

/* .form-control { */
/* 	border-width: 1px; */
/* 	border-top-color: #bdc0c7; */
/* 	box-shadow: none; */
/* 	box-sizing: border-box; */
/* 	padding: 8px 12px; */
/* 	font-size: 15px; */
/* 	-webkit-transition: none; */
/* 	-o-transition: none; */
/* 	transition: none; */
/* } */

/* .form-control { */
/* 	width: 100%; */
/* 	height: 40px; */
/* 	background-color: #fff; */
/* 	background-image: none; */
/* 	border: 1px solid #d5d8de; */
/* 	border-radius: 2px; */
/* } */

/* .form-control, output { */
/* 	line-height: 1.42857143; */
/* 	color: #404040; */
/* 	display: block; */
/* } */

/* button, input, select, textarea { */
/* 	font-family: inherit; */
/* 	font-size: inherit; */
/* 	line-height: inherit; */
/* } */

/* button, input, optgroup, select, textarea { */
/* 	color: inherit; */
/* 	font: inherit; */
/* 	margin: 0; */
/* } */

/* .form-group { */
/* 	margin-bottom: 20px; */
/* } */

/* button, input, select, textarea { */
/* 	font-family: inherit; */
/* 	font-size: inherit; */
/* 	line-height: inherit; */
/* } */

/* .login-submit .btn, .signup-password .btn { */
/* 	width: 100%; */
/* } */

/* button[type="submit"] { */
/* 	letter-spacing: 0.5px; */
/* 	text-transform: uppercase; */
/* } */

.popup-container {
	
}

#dashbordContent {
	padding: 10px;
}

.navbar{
	margin-bottom: 0px !important;
}

.navbar .options.active, .navbar .options:hover {
    background-color: #f9f8fa;
    color: #6b478c !important;
    opacity: 1;
}

.navbar .options {
	 font-weight: 500;
	color: #6b478c ;
	font-size: 14px;
	background-color: #fff;
	cursor: pointer;
}

.popup-container .loader {
	text-align: center;
}

.popup-container .loader img {
	height: 120px;
	width: 120px;
}

.welcome-container {
	text-align: center;
	width: 300px;
	margin: auto;
	padding: 60px 0px;
}

.login-form-container {
	text-align: center;
	width: 300px;
	margin: auto;
	padding: 20px 0px;
}

.full-width {
	width: 100%;
}

.login-form-container #errorBlock {
	display: none;
}

.notifications-content {
	background: #fff;
	position: relative;
	padding: 20px;
	box-shadow: 0 1px 5px 0 rgba(45, 62, 80, .12);
	margin-bottom: 10px;
	border-radius: 2px;
}
.contact-details:hover {
	background: #fcfcfc;
	cursor: pointer;
}

/* Base styling*/
.popover__wrapper {
    position: relative;
    margin-top: 5px;
    display: inline-block;
}
.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    transform: translate(0,10px);
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 150px;
    top: 40px;
}
.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0,-20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

::-webkit-scrollbar {
	width: 7px;
	/* height:8px;position: absolute; */
}

::-webkit-scrollbar-track {
	webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
/* -webkit-border-radius: 10px;border-radius: 10px; 
::-webkit-scrollbar-thumb {background: #444444;-webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);}*/
::-webkit-scrollbar-thumb {
	webkit-border-radius: 10px;
	border-radius: 10px;
	background: #000000;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
	-webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
	background: #000000;
	-webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}


.empty-pad-content-container {
    display: table;
    margin: 0px auto;
    width: 80%;
    padding-top: 5%;
}

.padcontent-image-container {
    display: table-cell;
    width: 140px;
    height: 120px;
}

.padcontent-image-container img {
    width: 100%;
    height: 100%;
}
.pad-help-block-container {
    display: table-cell;
    vertical-align: middle;
    padding-top: 0px;
}

.padcontent-help-block {
    padding-left: 30px;
    padding-top: 0px;
}

.break-word{
	word-break: break-word;
}
.dropdown-menu>li>a {
    font-weight: 400;
    color: #504e4e;
    padding: 8px 20px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color: #f5f5f5;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
	 background-color: #f5f5f5 !important;
	  color: #504e4e;
}

.dropdown a:hover,.dropdown a:focus,.navbar li a:hover,.navbar li a:focus{
	text-decoration: none;
}
.nav-tabs li:hover{
	 background-color: rgb(255, 255, 255);
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-width: 0px 0px 2px;
    border-image: initial;
    border-bottom: 2px solid rgb(66, 133, 244);
}

.nav-tabs li.active{
    background-color: rgb(255, 255, 255);
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-width: 0px 0px 2px;
    border-image: initial;
    border-bottom: 2px solid rgb(66, 133, 244);
}

.navbar.nav-tabs li a{
	padding: 12px 20px;
    margin-right: 0;
    min-width: 60px;
    border-radius: 0;
    color: #404040;
    border-width: 0;
}

.form-group .control-label {
    text-align: right;
    margin-bottom: 0px;
    padding-top: 8px;
}
.btn-warning.hover, .btn-warning:hover{
    background-color: #fd7656 !important;
    border-color: #fd7656 !important;   
}
.btn-warning.active, .btn-warning:active, .btn-warning:hover, .open>.dropdown-toggle.btn-warning{
    color: #fff !important;
    background-color: #f2603e !important;
    border-color: #f2603e !important;   
}
.btn-group-lg>.btn, .btn-lg, .btn-xl {
    padding: 0 12px !important;
    font-size: 15px !important;
    border-radius: 3px !important;
    font-weight: 500 !important;
}
.btn-warning {
    color: #fff !important;
    background-color: #f2603e !important;
    border-color: #f2603e !important;
}
.nav-tabs{
    border-bottom: none !important;
}
.error{
    color: red;
}
.ab-field-required{
        color: red;
}
span[disable="disabled"],div[disable="disabled"]{
    pointer-events: none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
    pointer-events: none;
}