.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 18px;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    line-height: 1.62857143;
}
.table>thead>tr>th {
    font-size: 14px;
    letter-spacing: 0.01em;
}
.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 22px 10px;
}
.table>thead>tr>th {
    color: #43506a;
    padding: 23px 10px;
}
.table>thead>tr>th {
    border-bottom-width: 1px;
    white-space: nowrap;
}
.table>thead>tr>th {
    border-bottom-width: 2px;
    font-weight: 500;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 10px;
}
caption, th {
    text-align: left;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    line-height: 1.62857143;
}
.table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 17px 10px;
    color: #7b7e86;
}
.table>tbody>tr>td {
    font-weight: 400;
    vertical-align: middle;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 12px 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #f1f1f1;
}
#extension-table-container table
{
	    background: white;
    border: 1px solid #f6f6f6;
    margin: 0px auto;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.12);
    border-radius: 3px;
}

#extension-table-container table tr
{
	border-bottom:1px solid #f6f6f6;
}

#extension-table-container table tr td
{
	cursor:pointer;
}

#extension-table-container table tr th.header
{
	border-bottom:0px;
}

.nav:after, .nav:before
{
        content: " ";
    display: table;
}
.nav:after
{
    clear: both;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav>li, .nav>li>a {
    display: block;
    position: relative;
}
.nav-tabs>li {
    float: left;
}
.nav-tabs>li {
    margin-right: 2px;
    margin-bottom: -2px;
}
.nav-tabs>li.active {
    position: relative;
    background: 0;
    color: #4285f4;
}
.nav>li, .nav>li>a {
    display: block;
    position: relative;
}
.nav>li>a {
    padding: 10px 15px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 2px 2px 0 0;
}
.nav-tabs>li a{
    text-align: center;
}
.nav-tabs>li a {
    padding: 12px 20px;
    margin-right: 0;
    min-width: 60px;
    border-radius: 0;
    color: #404040;
    border-width: 0;
        text-decoration: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #EEE;
    border: 1px solid #fff;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs>li.active a, .nav-tabs>li.active a:focus, .nav-tabs>li.active a:hover {
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid #4285f4;
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .tab-pane.active {
    display: block;
}
